<ion-header>
  <ion-toolbar color="primary">
    <ion-row align-items-center>
      <ion-col col-10>
        <h4 ion-text color="white" no-margin style="font-weight: 300">{{ title }}</h4>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear navPop >
          <ion-icon name="close" ion-text color="white" ></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content no-bounce padding-vertical>

  <ion-card padding class="image">
    <img [src]="imgSrc" class="animated fadeIn">
    <div padding class="animated fadein" style="animation-delay: 500ms">
      <div class="gradient"></div>
      <div class="frame">
        <ion-row *ngIf="allergens?.length as counter; else noAllergens" justify-content-between class="animated flash">
          <ion-col *ngFor="let allergen of allergens">
            <allergen [name]="allergen" [large]="counter < 5"></allergen>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-card>

</ion-content>

<ng-template #noAllergens>
  <ion-card padding text-center color="good">
    <!-- TODO add something -->
  </ion-card>
</ng-template>




<!--
<ion-header>
  <ion-toolbar [color]="allergens?.heavy?.length ? 'danger' : (allergens?.light?.length ? 'caution' : 'good')"></ion-toolbar>
</ion-header>
<ion-content padding no-bounce>

  <ng-container *ngIf="allergens?.heavy?.length as counter">
    <h2 ion-text text-center color="danger">STOP</h2>
    <p text-center>This product contains {{ counter | i18nPlural: mapping }} you are heavily allergic to:</p>
    <ion-card>
      <ion-list no-lines>
        <ion-item color="danger" *ngFor="let allergen of allergens.heavy" text-center text-capitalize>{{allergen}}</ion-item>
      </ion-list>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="allergens?.light?.length as counter">
    <h3 *ngIf="!allergens?.heavy?.length" ion-text text-center color="caution">Be Careful</h3>
    <p text-center>{{allergens?.heavy?.length ? 'It also' : 'This product'}} contains {{ counter | i18nPlural: mapping }} you are lightly allergic to:</p>
    <ion-card>
      <ion-list>
        <ion-item color="caution" *ngFor="let allergen of allergens.light" text-center text-capitalize>{{allergen}}</ion-item>
      </ion-list>
    </ion-card>
  </ng-container>

  <div *ngIf="!allergens.heavy && !allergens.light" padding>
    <h1 ion-text text-center color="good">Enjoy</h1>
    <p text-center>This product is safe to eat for you</p>
  </div>


  <ion-card margin-top padding>
    <img *ngIf="productImg; else productTitle" [src]="productImg">
    <ng-template #productTitle>
      <h1>{{productTitle}}</h1>
    </ng-template>
  </ion-card>


  <ion-fab bottom center>
    <button color="light" ion-fab navPop>
      <ion-icon name="md-close"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
  -->
