page-result {
  .image {
    position: relative;
    overflow: scroll;
    > div {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      >.gradient {
        height: 100px;
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.8));
      }
      >.frame {
        background-color: rgba(255,255,255,0.8);
      }
    }
  }
}
