<ion-header>
  <ion-item>
    <ion-label [color]="testMode ? 'primary' : 'light'">Test Mode</ion-label>
    <ion-toggle [(ngModel)]="testMode"></ion-toggle>
  </ion-item>
</ion-header>



<ion-content no-bounce>
  <main style="display: flex; justify-content: center; align-items: center; height: 100%">
    <img class="animated fadeIn" src="assets/imgs/logo.png">
  </main>
</ion-content>

<ion-footer text-center class="animated slideInUp" style="animation-delay: 500ms">
    <button
      *ngIf="user.ref; else introMessage"
      ion-button no-margin block large
      (click)="scan()"
    >
      Scan Product <!-- TODO i18n -->
    </button>
</ion-footer>


<ng-template #introMessage>
  <ion-toolbar color="primary" padding-horizontal>
    <h4 ion-text color="white" text-left>Hi there!</h4>
    <p text-left ion-text color="white">We'd like to get you a bit better to know, so that we can customize the app to your needs.</p> <!-- TODO i18n -->
    <button ion-button color="white" margin-bottom (click)="signUp()">
      Get Started <!-- TODO i18n -->
    </button>
  </ion-toolbar>
</ng-template>


