page-sign-up {
  h1 {
    font-weight: 300;
  }
  ion-item.ng-valid:not(.input-has-focus)>.item-inner {
      //border-color: color($colors,primary);
      box-shadow: none!important;
    }

  ion-datetime.ng-pristine {
    opacity: 0.4;
  }

}
