<ion-header class="animated fadeIn">
  <ion-row justify-content-between align-items-center>
    <h3 no-margin ion-text color="primary" style="font-weight: 300;padding: 8px 16px">{{title}}</h3>
    <button
      *ngIf="activeView !== 'activity'"
      ion-button clear icon-only no-margin large
      (click)="next()"
      [disabled]="activeView == 'mainForm' && mainForm.invalid"
      text-capitalize
    >
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-row>

</ion-header>

<ion-content no-bounce>
  <ion-slides pager class="animated fadeIn">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let allergen of allergens">
            <allergen [name]="allergen" toggler></allergen>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ng-container *ngTemplateOutlet="bioView"></ng-container>
    </ion-slide>

    <ion-slide>
      <ng-container *ngTemplateOutlet="workView"></ng-container>
    </ion-slide>

    <ion-slide>
      <ng-container *ngTemplateOutlet="leisureView"></ng-container>
    </ion-slide>
  </ion-slides>
</ion-content>

<ng-template #bioView>
  <form [formGroup]="mainForm">
    <ion-list>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select interface="popover" placeholder="Choose" formControlName="sex">
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
          <ion-option value="other">Other</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Year of Birth</ion-label>
        <ion-datetime
          placeholder="1980"
          formControlName="birthYear"
          displayFormat="YYYY"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Height</ion-label>
        <ion-input text-right placeholder="cm" formControlName="height" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Weight</ion-label>
        <ion-input text-right placeholder="kg" formControlName="weight" type="tel"></ion-input>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label>Nutrition is</ion-label>
        <ion-select interface="popover" formControlName="dietFocus" placeholder="Choose">
          <ion-option value="0">Not important</ion-option>
          <ion-option value="1">Quite important</ion-option>
          <ion-option value="2">Really important</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Specific Diet</ion-label>
        <ion-select interface="popover" formControlName="dietType" placeholder="Choose">
          <ion-option value="omni">None</ion-option>
          <ion-option value="vegi">Vegetarian</ion-option>
          <ion-option value="vegan">Vegan</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Level of German</ion-label>
        <ion-select interface="popover" formControlName="german" placeholder="Choose">
          <ion-option value="native">Native</ion-option>
          <ion-option value="fluent">Fluent</ion-option>
          <ion-option value="basic">Basic</ion-option>
          <ion-option value="none">None</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>


</ng-template>

<ng-template #workView>
  <p margin-bottom>During Work</p>

  <ion-card (click)="setActivity('work',0)">
    <button no-margin ion-button block>Almost no Activity</button>
    <p style="padding: 8px 16px">Sitting at a desk mostly</p>
  </ion-card>
  <ion-card (click)="setActivity('work',1)">
    <button no-margin ion-button block>Light Activity</button>
    <p style="padding: 8px 16px">Light industrial work, sales, or similar</p>
  </ion-card>
  <ion-card (click)="setActivity('work',2)">
    <button no-margin ion-button block>Moderate Activity</button>
    <p style="padding: 8px 16px">Cleaning, delivering mail on foot or by bicycle, or similar</p>
  </ion-card>
  <ion-card (click)="setActivity('work',3)">
    <button no-margin ion-button block>Heavy Work</button>
    <p style="padding: 8px 16px">Heavy industrial work, construction work, farming, or similar</p>
  </ion-card>
</ng-template>

<ng-template #leisureView>
  <p margin-bottom>During Leisure</p>

  <ion-card>
    <button
      no-margin ion-button block
      (click)="setActivity('leisure',0)"
    >Almost no Activity</button>
    <p style="padding: 8px 16px">You're not really an active person</p>
  </ion-card>
  <ion-card>
    <button
      no-margin ion-button block
      (click)="setActivity('leisure',1)"
    >Light Activity</button>
    <p style="padding: 8px 16px">At least once a week</p>
  </ion-card>
  <ion-card>
    <button
      no-margin ion-button block
      (click)="setActivity('leisure',2)"
    >Moderate Activity</button>
    <p style="padding: 8px 16px">At least once a week</p>
  </ion-card>
  <ion-card>
    <button
      no-margin ion-button block
      (click)="setActivity('leisure',3)"
    >Moderate Activity</button>
    <p style="padding: 8px 16px">Several times a week</p>

  </ion-card>
  <ion-card>
    <button
      no-margin ion-button block
      (click)="setActivity('leisure',4)"
    >Strenuous Activity </button>
    <p style="padding: 8px 16px">Several times a week</p>

  </ion-card>
</ng-template>

<ng-template #miscView>
  <h1 ion-text color="primary" margin-bottom>Other</h1>
  <form [formGroup]="miscForm">
    <ion-list>
      <ion-item>
        <ion-label>Importance of Nutrition</ion-label>
        <ion-select interface="popover" formControlName="dietFocus" placeholder="Choose">
          <ion-option value="0">Not important</ion-option>
          <ion-option value="1">Quite important</ion-option>
          <ion-option value="2">Really important</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Specific Diet</ion-label>
        <ion-select interface="popover" formControlName="dietType" placeholder="Choose">
          <ion-option value="vegi">Vegetarian</ion-option>
          <ion-option value="vegan">Vegan</ion-option>
          <ion-option value="omni">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Level of German</ion-label>
        <ion-select interface="popover" formControlName="german" placeholder="Choose">
          <ion-option value="native">Native</ion-option>
          <ion-option value="fluent">Fluent</ion-option>
          <ion-option value="basic">Basic</ion-option>
          <ion-option value="none">None</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
  <ion-row justify-content-center>
    <button
      ion-button
      [disabled]="miscForm.invalid"
      (click)="submit()"
    >Done</button>
  </ion-row>

</ng-template>






