<ng-container *ngTemplateOutlet="_readonly ? label : toggler"></ng-container>

<ng-template #label>
  <div
    ion-button block [large]="large"
    [color]="_color || 'dark'"
    style="cursor: pointer"
  >
    {{ _text }}
  </div>
</ng-template>
<ng-template #toggler>
  <button
    ion-button block
    [color]="_color || 'light'"
    (click)="changeValue()"
  >
    {{ _text }}
  </button>
</ng-template>








