allergen {
  div.label {
    display: block;
  }
}

.action-sheet-button {
  &.action-sheet-cancel {
    color: color($colors,dark);
    font-weight: inherit;
  }
  &.caution {
    color: color($colors,caution)
  }
  &.danger {
    color: color($colors,danger)
  }
}
